#header{
  background-color: #FFA500 !important;
  color: #000000 !important;
  box-shadow: 0px 0px 3px 0px #FF8C00;
}

#header a:link, #header a:visited{
  color: #FFFFFF !important;
}

div.breadcrumbs{
  background-color:  #FF8C00;
}

.module h2, .module caption, .inline-group h2{
  background-color: #FF8C00;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
  background-color: #FF8C00;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover{
  background-color: #FF8C00;
}

.button.default, input[type=submit].default, .submit-row input.default{
  background-color: #FF8C00 ;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover{
  background-color: #FF8C00;
}

a:link, a:visited{
  color: #FF8C00;
}
